.info-text {
    color: #652b25; /* Example color: blue */
    font-family: Arial, sans-serif; /* Example font */
    margin-bottom: 10px; /* Spacing between each line */
    /* Additional styling */
  }
  