body {
    margin: 0px;
}

img{
    position: relative;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.image-text{
    width: 30%;
    position: absolute;
    top: 25%;
    color:yellowgreen;
    font-size:30px;
    font-weight: 700;
    margin-left: 30px;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    font-size: large;
    background-color: transparent;
    color: #21f36b; /* Change this color to match your outlined button color */
    border: 2px solid #2196F3; /* Change this color to match your outlined button color */
}

.image-button{
    position: absolute;
    margin-left: 10px;
    top: 50%;
}
.image-button button:hover {
    font-size: large;
    background-color: white;
    color: #f32133; /* Change this color to match your outlined button color */
    border: 2px solid #2196F3; /* Change this color to match your outlined button color */
}

p {
    clear: both;
    margin-top: 20px;
    margin-left:30px;  
    padding-left: 10px;  
    width: 80%;
    font-family: 'Roboto', sans-serif; /* Ensure fallback font is sans-serif */
    color: #555555;
    font: normal 16px "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    line-height: 25px;/* Set the line height for better readability */
    text-align: justify; /* Justify text for a clean appearance */
}



.text-underlined {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: rgb(16, 20, 143);
    font-size: large;
    font-weight: 500;
  }
  .text-underlined::after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: -10px; /* Adjust this value to control the distance between text and underline */
    width: 100%;
    height: 2px; /* Adjust this value to control the thickness of the underline */
    background-color: rgb(29, 29, 208); /* Adjust this value to set the color of the underline */
  }

.wid-25{
    width: 25%;
}
.wid-75{
    width: 75%;
}
.image25-content75{
    margin-left: 20px;
    display:inline-flex;
}

.small-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.css-46bh2p-MuiCardContent-root:last-child {
    background-color:whitesmoke;
}

.standard-premium-icons{
    color: yellowgreen;
    display: inline-flex;
    justify-content: flex-end;
}

.button-green{
    background-color: springgreen;

}
.button-green:hover{
 font-size: large;
    background-color: transparent;
    color: #64d7e1; /* Change this color to match your outlined button color */
    border: 2px solid #2196F3; /* Change this color to match your outlined button color */
}


.css-a5rdam-MuiGrid-root {
margin-top: 0px;
margin-left: 0px;
}
@media screen and (max-width:600px) {
    .image-text{
        font-size:20px
    }
    .image-button button{
        width: 50%;
        height:50%;
        font-size:50%;
        border-radius: 50%;
    }
    .image-button button:hover{
        width: 50%;
        height:50%;
        font-size:75%;
        border-radius: 50%;
    }
}

/* footer media query likkni h abi */