.message-block{
width: 100%;

}

.css-wb57ya-MuiFormControl-root-MuiTextField-root {
    margin-top: 20px;
    margin-bottom: 20px;
width: 50%;

}
.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    margin-top: 20px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 150px;
    margin-bottom: 20px;
}
.contact-nameemail{
    display: flex;
    justify-content: space-around;
    color: gray;
}

.contact-details{
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-housedetail{
    display: contents;
}
.contact-icons{
    display: inherit;
    margin-top: 2px;
    color: rgb(117, 171, 205);

}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}
.divide-in-two{
    width: 100%;
    margin-top: 0px;
    display: inline-flex;
}

@media screen and (max-width: 480px) {
    .divide-in-two{
        display: flex;
        flex-direction: column;


    }
    
}