.button-group-right{
    float: right;
    display: flex;
    flex-direction: column;
    width: 20%;

}
.content-button-wrapper{
    display: inline-flex;
}


.button-group-right button{
   /* margin-top: 15%; */

}
.button-group-right button:hover {
    /* font-size: large;
    background-color: transparent;
    color: #21f36b; 
    border: 2px solid #2196F3;  */
}


@media screen and (max-width:750px) {
    .button-group-right {
      width: 70%;
      margin: auto;
      margin-bottom: 20px;
    }
  }