.css-19r6kue-MuiContainer-root {
background-color:white;
margin-bottom: 7px;
}

/* .css-8je8zh-MuiTouchRipple-root {

    background-color: black;
} */

.links-menu{
    background-color: yellowgreen;
}



.all-links{
    color: grey;
    text-decoration: none;

}
.all-links:hover {
    color: yellowgreen;
    text-decoration: underline;
}

