.css-19r6kue-MuiContainer-root {
background-color:white;
margin-bottom: 7px;
}

/* .css-8je8zh-MuiTouchRipple-root {

    background-color: black;
} */

.links-menu{
    background-color: #6ea5ff;
}

.font-awesome-icons{
    display: flex;
    gap: 20px;

}

.all-links{
    color: grey;
    text-decoration: none;
    text-transform: capitalize;
}
.all-links:hover {
    color: #6ea5ff;
    text-decoration: underline;
}

.activelink {
    color: #6ea5ff;
    text-decoration: underline;
}

@media screen and (max-width:600px) {
    .font-awesome-icons{
        gap:0px
    }
    .css-19r6kue-MuiContainer-root{
        padding-left: 0;
        padding-right: 0;
    }
    .font-awesome-icons{
        display: none;
    }
    
}

@media screen and (max-width:1085px) {
    /* .font-awesome-icons{
        gap:0px
    }
    .css-19r6kue-MuiContainer-root{
        padding-left: 0;
        padding-right: 0;
    }
    .font-awesome-icons{
        display: none;
    } */
    .small-property{
        display: none;
    }
    
}